<div class='row big-row justify-content-center'>
        <div class='col-md-12 align'>
            <div class='row middle-row'>
                <div class='col-md-12'>
                    <div class='row inner-row' align="center">
                        <div class='col-md-8 page-header'>
                            <div class='row inner-inner-row'>
                                <div class=" row inner-inner-inner-row">
                                    <div class='col-md-12 page-headline' align="center">
                                        <h2> Welcome to the Instructors panel. </h2>
                                        <h3> LawndaleWeb has the following Instructors currently on staff</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row inner-inner-inner-row">
                                <div class='col-md-12 page-controls'>
                                    <h4>
                                        <a href='<%=new_instructor_path %>'> Add New Instructor</a>
                                    </h4>
                                </div>
                            </div>
                            <%= link_to 'Add New Instructor', new_instructor_path %>
                        </div>
                        <div class='col-md-4 page-image'>
                            <p> INSTRUCTOR image here</p>
                        </div>
                    </div>
                </div>
            </div>
    
    
    
    
    
    
            <div class="row middle-row">
                <div class='col-md-12'>
                    <div class="row">
    
                        <%@instructors.each_with_index do |instructor, index| %>
                            <div class="instructor col" align="left">
                                <div class="row">
                                    <div class='col-md-8'>
                                        <div class="instructor_stat col-12">
                                                <h5>
                                                    Last Name:
                                                    <%= instructor.l_name %>
                                                </h5>
                                            </div>
    
                                            <div class="instructor_stat col-12">
                                                <h5>
                                                    First Name:
                                                    <%= instructor.f_name%>
                                                </h5>
                                            </div>
                                        </div>
                                    
                                    <div class="col-md-4 instructor_pic" align="left">
                                        instructor mug shot
                                    </div>
                                </div>
                                <br>
    
                                <div class align="left">
                                    Date of Birth:
                                    <%=instructor.age%>
    
                                </div>
                                <div class align="left">
                                    Salary:
                                    <%=instructor.salary%>
                                </div>
                                <div class align="left">
                                    Education:
                                    <%=instructor.education%>
                                </div>
                                <div class align="left">
                                    Classes:
    
                                </div>
                                <div class="instructor_controls">
    
                                    <%= link_to 'View', instructor_path(instructor)  %>
                                        <%= link_to 'edit', edit_instructor_path(instructor)%>
                                            <%= link_to 'Delete', instructor,  class: "deleteInstructor"%>
                                </div>
    
                            </div>
    
    
                            <% if index.even? %>
    
                                <div class="w-100"></div>
    
    
                                <% end %>
                                    <%end%>
    
    
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>