<div class="container view">
    <div class="row inner-row" align="center">
        <div class="col-md-12  card_headline">
            <h1>
                <%=@student.f_name%>
                    <%=@student.l_name%>
            </h1>
           <h3>
                Birth Year:
                <%=@student.age%>
           </h3>
           <h3>
                Final Completed Grade Level:
                <%=@student.highes_grade%>
           </h3>

           <h3>
                Added to LawndaleNet:
                <%=@student.created_at%>
           </h3>
            <div>Current Classes:
                <ul>
                    <% @cohort.each do |thisClass| %>

                        <li>
                            <h4>
                            Class Name:
                            <%=thisClass.name%>

                            </h4>
                        </li>
                        <li>
                            <h4>
                            Class ID:
                            <%=thisClass.id%>
                            </h4>
                        </li>
                        <li>
                            <h4>

                            <% thisClass.instructors.where('cohort_id = ?', thisClass.id).each do |instructor| %>
                                Instructor:
                                <%=instructor.l_name%>

                                    <%end%>
                                    </h4>
                        </li>
                    </ul>
                        <br>
                        </br>
                    
                    

                        <%end%>
                
            </div>

            <%= link_to 'Home', students_path()  %>
                <%= link_to 'edit', edit_student_path(@student)%>

        </div>
    </div>
</div>