/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require bootstrap/dist/css/bootstrap.css
 *= require toastr/toastr
 *= require_self
*/
@import 'students';
@import 'instructors';
@import 'courses';
@import url(https://fonts.googleapis.com/css?family=Graduate);
html{
    height: 100%
}
body{ 
    height:100%;
    font-family: 'Graduate', cursive;
}
.container{
    background: white;
    color: white;
    text-shadow: #07506f -2px 2px 2px;
    -webkit-font-smoothing: antialiased;
    padding: 0;
  
    border: solid 2px;
    border-color: #ecbe2a;
}
.big-row{
    padding: 5%;
 
}

a{
    color:  #ecbe2a
};
a:hover {
    color: white;
}


.nav {
    background: linear-gradient(#dbc54d, #ecbe2a);
    text-shadow: #1883b1 0px 1px 2px;
    -webkit-font-smoothing: antialiased;
    color:#1f8cbe !important;
    
};
.nav a{
    color: #1f8cbe 

}
.nav a:hover{
    color:white;
}

.card_headline{

   color: #ecbe2a;
}
.card_border{
    border-top: 2px solid;
    border-color: #ecbe2a
}
 
.middle-row{
    
    border: 1px solid;
    border-color: #ecbe2a;
    border-radius: 3px;
    padding: 0;
    background: linear-gradient(#277ca9, #1f8cbe);
    }

    .form {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    .border-top{
        border-top: 5px solid #ecbe2a !important;
       
    }

    .view{
        
    }