// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.course{
    border: 2px solid;
    border-color: #ecbe2a

}
.course-image{
    background-image: image-url('class3.jpg');
    height: auto; 
    width: auto; 
    background-size:cover;
    

}